/* cart, login, PIN-Code */
.header-maininfo .header-maininfo-list {
  min-width: 200px;
}
.header-maininfo .header-maininfo-list .header-maininfo-item {
  padding: 0 8px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.header-maininfo .header-maininfo-list .header-maininfo-item:not(:first-child) {
  border-left: 1px solid #dadada;
}
.header-maininfo .header-maininfo-list .header-maininfo-item a {
  color: #fff;
}
.header-maininfo .header-maininfo-list .header-maininfo-item a i {
  font-size: 18px;
}

/* pop-up for pin-code input */
.pop-up {
  min-width: 450px;
  position: absolute;
  top: 40px;
  right: 0;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #3399cc;
  cursor: default;
  z-index: 100;
  background-color: #fff;
}
.pop-up .pop-up-info {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.top-arrow {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 15px solid transparent;
  border-bottom-color: #3399cc;
  position: absolute;
  top: 0;
  left: 60%;
  transform: translateY(-100%);
}
.pop-up-info .title {
  width: 100%;
  padding: 20px;
  background-color: #3399cc;
  color: #fff;
  font-size: 1.1em;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #e5e5e5;
}
.pop-up-info .pinCode-input {
  padding: 30px 20px 10px;
  background-color: #fff;
}
.pop-up-info .pinCode-input form .txt-input {
  width: 100%;
  position: relative;
}
form .txt-input .input {
  width: 100%;
  height: 35px;
  padding: 20px 10px;
  font-size: 1.2em;
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  line-height: 1.5;
}

.txt-input label {
  font-size: 1em;
  position: absolute;
  top: 0.6rem;
  left: 0.8rem;
  cursor: text;
  transition: all 0.5s ease-in;
}
.input:focus + label,
.input:not(:placeholder-shown).input:not(:focus) + label {
  font-size: 0.9em;
  top: -0.7em;
  background: #fff;
  padding: 0 5px;
  color: #2d73ed;
}
.input:focus{
  border: 2px solid #2d73ed;
}
.txt-input .input.alert{
  border: 2px solid #d32f2f;
}
.txt-input label.alert{
  font-size: 0.9em;
  top: -0.7em;
  background: #fff;
  padding: 0 5px;
  color: #d32f2f;
}

.pinCode-input form button {
  padding: 0 10px;
  border: none;
  background-color: transparent;
  border-left: 3px solid #3399cc;
  border-radius: 0 5px 5px 0;
  text-transform: uppercase;
  color: #1774ef;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  right: 20px;
  height: 44px;
}
.pinCode-input .error-msg {
  width: 100%;
  margin-top: 5px;
  color: #e42529;
  padding: 0 6px;
}
.pinCode-input .loader{
  pointer-events: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #666;
  animation: an1 1s ease infinite;
}
@keyframes an1{
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}

.pop-up-info .live-location {
  width: 100%;
  margin-bottom: 15px;
  padding: 0 20px;
  font-size: 1.1em;
  color: #1774ef;
  font-weight: 600;
  background-color: #fff;
}

.pop-up-info .close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.pop-up-info .close-btn i {
  margin-right: 0;
  font-size: 1.2em;
  color: #fff;
}
.pop-up-info .close-btn:hover {
  background-color: #f0f0f0ce;
}



#main{
  width: 100%;
}

/**
* ! empty-screen
**/
/* empty-screen */
.empty-screen{
  width: 100%;
  display: grid;
  place-content: center;
  padding: 50px 0;
  text-align: center;
}
.empty-screen i{
  font-size: 200px;
  color: moccasin;
}

.empty-screen .cart-icon{
  position: relative;
}
.empty-screen span{
  position: absolute;
  left: 50%;
  top: 10%;
  font-size: 45px;
  display: block;
  color: #333333;
}
.empty-screen .txt{
  font-size: 24px;
  left: 45%;
  top: 35%;
}
.empty-screen .msg{
  font-size: 28px;
  font-weight: 400;
}
.empty-screen button{
  width: 200px;
  margin: 64px auto 40px;
  padding: 10px 0;
  border: 1px solid #e42529;
  background-color: #d32f2f;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
}

/**
* ! Cart-items section
**/

/* cart-items */
.cart-items-section{
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 68% 30%;
  column-gap: 20px;
}
.main-section .cart-items{
  width: 100%;
  padding: 0 16px;
}
.cart-items .top-line{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 8px 0 24px;
}

.cart-items .cart-box{
  width: 100%;
  border: 1px solid #e0e0e1;
  border-radius: 10px;
  margin-bottom: 15px;
}
.cart-items .item-details{
  width: 100%;
  display: grid;
  grid-template-columns: 15% 83%;
  padding: 12px;
  column-gap: 20px;
}
.cart-items .item-details .img-section{
  width: 100%;
  /* padding: 10px 10px 10px 0; */
  text-align: center;
}
.cart-items .item-details .img-section img{
  width: 100%;
  cursor: pointer;
}
.cart-items .item-details .img-section .item-counter{
  width: 100%;
  margin: 8px 1px;
}

.item-counter i{
  padding: 5px 8px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 4px;
  cursor: pointer;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.item-counter span{
  padding: 3px 8px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #ccc;
}
.item-counter .minus{
  opacity: 0.5;
  cursor: pointer;
}
.item-counter .minus.enabled{
  opacity: 1;
  cursor: pointer;
}

.product-details-section{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.product-details-section .product-details{
  width: 100%;
  text-align: left;
  color: #003380;
  font-size: 14px;
  font-weight: 600;
  padding: 0 8px;
}
.product-details .product-id{
  margin-top: 10px;
}

.product-details-section .shipping-details{
  width: 100%;
  text-align: right;
  padding: 0 8px;
  font-size: 14px;
  color: #666;
}
.product-details-section .shipping-details div{
  margin-top: 4px;
}

.shipping-details .offer-price{
  font-size: 20px;
  color: #333;
  font-weight: 600;
}
.shipping-details .mrp-price .strike{
  text-decoration: line-through;
}
.shipping-details .mrp-price .sm-txt{
  font-size: 12px;
}
.shipping-details .free-ship{
  color: #15967c;
  font-weight: 500;
}
.shipping-details .delivery-status{
  color: #003380;
  font-weight: 500;
}
.shipping-details .delivery-status i{
  color: #d32f2f;
}

.shipping-details .guideline{
  color: #666;
  font-weight: 500;
  font-size: 12px;
}
.item-details .btns{
  width: 100%;
  display: flex;
}
.item-details .btns div{
  width: 50%;
}

.cart-box .btns{
  width: 100%;
  display: flex;
}
.cart-box .btns div{
  width: 50%;
  padding: 12px 0;
  text-align: center;
  border: 1px solid #ccc;
  color: #2d73ed;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.cart-box .btns div:first-child{
  border-left: none;
  border-bottom: none;
}
.cart-box .btns div:last-child{
  border-right: none;
  border-bottom: none;
}


.checkout-section{
  width: 100%;
  padding: 0 10px;
}
.checkout-section .checkout-btn{
  width: 100%;
  padding: 12px 0;
  border: 1px solid #d32f2f;
  background-color: #d32f2f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-details-section{
  width: 100%;
  padding: 20px 20px;
  border: 1px solid #cccccc;
  margin-top: 12px;
  border-radius: 10px;
}
.checkout-details{
  position: relative;
}

form .txt-input {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
form .txt-input .input {
  width: 100%;
  height: 35px;
  padding: 10px 10px;
  font-size: 1.2em;
  background: none;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  line-height: 1.5;
}

.txt-input label {
  font-size: 1em;
  position: absolute;
  top: 0.35rem;
  left: 0.8rem;
  cursor: text;
  transition: all 0.5s ease-in;
}
.input:focus + label,
.input:not(:placeholder-shown).input:not(:focus) + label {
  font-size: 0.9em;
  top: -0.7em;
  background: #fff;
  padding: 0 5px;
  color: #2d73ed;
}
.input:focus{
  border: 2px solid #2d73ed;
}
.checkout-details form button{
  position: absolute;
  right: 20px;
  top: 2px;
  width: 80px;
  height: 31px;
  border-radius: 0 10px 10px 0;
  background-color: #fff;
  color: #003380;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-left: 2px solid #3399cc;
  line-height: 3px;
}

.divider{
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 15px 0;
}


.price-details{
  width: 100%;
}
.price-details p, .count-total-amount p{
  display: inline-block;
  color: #333333;
  font-size: 14px;
}
.lw{
  width: 75%;
}
.right{
  width: 23%;
  text-align: right;
}
.checkout-details .title{
  font-size: 15px;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
}
.checkout-details .pd{
  margin-bottom: 10px;
}
.cart-item-price{
  margin-bottom: 5px;
}
.cart-item-price .total{
  font-weight: 600;
}
.delivery-charges .charge{
  color: #43a047;
  font-weight: 600;
  text-transform: uppercase;
}

.count-total-amount .total-cart-amount{
  font-size: 16px;
  color: #003380;
  font-weight: 600;
}


.checkout-section .trust-txt{
  margin: 12px;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
}



.clearCart{
  width: 150px;
  margin: 0 auto;
  padding: 8px;
  background-color: #d32f2f;
  border: none;
  color: #fff;
  font-size: 14px;
}