/************************ global CSS start ************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, system-ui, -apple-system;
}
.flex {
  display: flex;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
i {
  margin-right: 3px;
}
input {
  border: none;
  outline: none;
}
.inactive {
  display: none;
}
/************************ global CSS end ************************/

/************************ variables CSS start ************************/
:root {
  --color-white: #fff;
  --color-gray-1: #ddd;
  --color-gray-2: #ccc;
  --color-gray-3: #eee;
  --color-gray-4: #f5f5f5;
  --color-gray-5: #e0e0e1;
  --color-gray-6: #e5e5e5;
  --color-gray-7: #dcdcdc;
  --color-red: #e42529;
  --color-light-red: #d9534f;
  --color-error-red: #d32f2f;
  --color-med-red: #d43f3a;
  --color-link-blue-dark: #2d73ed;
  --color-link-blue: #1774ef;
  --color-info-blue: #1976d2;
  --color-green: #43a047;
  --color-warning-yellow: #ffa000;
  --color-black: #000;
  --color-black-1: #333;
  --color-black-2: #666;
}
/************************ variables CSS end ************************/

/************************ general CSS start ************************/
/************** header CSS start **************/
/* top links section */
.header-linkinfo {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #e42529;
  color: #fff;
  border-bottom: 1px solid #adadad;
}
.header-linkinfo .linkinfo-item {
  padding: 6px 25px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}
.header-linkinfo .linkinfo-item:not(.bl) {
  border-left: 1px solid #adadad;
}
.header-linkinfo .linkinfo-item a {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

/* header main section --> logo, search-bar, cart, login */
.header {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 100;
}
.header-maininfo {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #e42529;
  padding: 8px 16px 8px 30px;
}

/* logo */
.header-maininfo .logo {
  width: 150px;
  overflow: visible;
  position: relative;
  flex-basis: auto;
  padding-top: 0px;
  margin: 0px;
  background: transparent;
}
.header-maininfo .logo img {
  max-width: 100%;
  vertical-align: baseline;
}

/* search-box */
.header-maininfo .search-box {
  width: 35%;
  margin: auto;
}
.search-box .product-search {
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}
.product-search .search-bar {
  width: 100%;
  height: 36px;
  padding: 0 45px 0 20px;
  font-size: 18px;
  border-radius: 2em;
  line-height: 36px;
  display: inline-block;
}
.product-search .search-bar:focus{
  border-radius: 0.6em 0.6em 0 0;
}

.product-search .search {
  border: none;
  background-color: #fff;
  position: absolute;
  right: 15px;
  top: 7px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}
.product-search .search i {
  font-size: 18px;
  color: rgb(187, 187, 187);
}

/* cart, login*/
.header-maininfo .header-maininfo-list {
  min-width: 200px;
}
.header-maininfo .header-maininfo-list .header-maininfo-item {
  padding: 0 8px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.header-maininfo .header-maininfo-list .header-maininfo-item:not(:first-child) {
  border-left: 1px solid #dadada;
}
.header-maininfo .header-maininfo-list .header-maininfo-item a {
  color: #fff;
}
.header-maininfo .header-maininfo-list .header-maininfo-item a i {
  font-size: 18px;
}
.counter{
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  position:absolute;
  top: -20px;
  left: 20px;
}

.header-maininfo-item .account-options{
  position: absolute;
  right: 0px;
  z-index: 1000;
  margin-top: 24px;
  color: #333;
  background-color: #fff;
  width: 180px;
  box-shadow: 2px 2px 10px #666, -2px -2px 10px #666;
  display: none;
}
.account-options li{
  padding: 16px 15px;
  border-bottom: 1px dashed #333;
}
.account-options .top-arrow{
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 15px solid transparent;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  border-bottom-color: #fff;
  left: 60%;
}
.header-maininfo-item.login.in:hover .account-options{
  display: block;
}

/* Navbar Starts Here*/
.nav {
  width: 100%;
  height: 39px;
  font-size: 18px;
  background: #003380;
  position: relative;
}
.nav .navbar {
  padding: 0 20px;
  align-items: center;
  justify-content: space-around;
}

.nav_items li {
  padding: 10px 8px;
  list-style: none;
  cursor: pointer;
}
.nav_items .heading {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.nav_items > li:hover {
  background-color: #e42529;
}

.navbar li > a {
  color: #fff;
  text-decoration: none;
}
.nav_items i {
  color: #fff;
  margin-left: 3px;
  font-size: 12px;
}

/* DropDown Menu */

.dropdown_items {
  display: none;
  z-index: 1;
}

.nav_items:hover .dropdown_items {
  display: block;
}

.row1,
.row2,
.row3 {
  margin-right: 20px;
}

.dropdown {
  max-width: 1291px;
  width: 100vw;
  padding: 10px 20px;
  position: absolute;
  top: 39px;
  left: 29px;
  border: 1px solid #8f8e8e;
  border-top: none;
  display: flex;
}

.mobile_section {
  background: url("../Assets/navbar/Mobiles-Tablet-Menu-Banners.png") no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.computer_section {
  background: url("../Assets/navbar/Computers-Menu-Banners.jpg") no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
.personal_care {
  background: url("../Assets/navbar/Personal-Care-Menu-Banners.jpg") no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}

.dropdown .items {
  font-size: 15px;
  font-weight: 600;
}

.dropdown .subitems {
  font-size: 13px;
  color: #8f8e8e;
  line-height: 7px;
}

.dropdown a:hover {
  text-decoration: underline;
}

.television_section,
.audio,
.home_app,
.camera_section,
.kitchen_apps,
.access {
  background: #252f64;
}
/* Navbar Ends Here */

/* sticy header */
.sticky .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.sticky .mg {
  margin-top: 106px;
}
/************** header CSS end **************/

/************** footer CSS start **************/
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: bold;
}

.footer__listLinks ul li {
  color: #fff;
  line-height: 32px;
}
.footer__listLinks ul li a {
  color: #fff;
  display: block;
  font-size: 15px;
  overflow: hidden;
}
.footer__listLinks ul li a:hover{
  text-decoration: underline;
}
.footer {
  width: 100%;
  color: #333;
  font-family: Roboto, "system-ui", sans-serif;
  font-weight: 400;
  margin: 0;
}
.information {
  display: flex;
  justify-content: space-around;
}

.footer__linksTitle > h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.followUs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 23px;
  width: 60%;
}
.footer__mediaLinks {
  list-style: none;
  margin-left: -5px;
  padding-left: 0;
}
.footer_container {
  background-color: #003380;
}
.footer__mediaLinks {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.stores {
  display: flex;
  margin-top: 10px;
}
.google__play {
  margin-right: 7px;
}
.stores__img__size {
  height: 45px;
  width: 130px;
}

.footer__socialMedia {
  display: flex;
  justify-content: space-around;
}
.footer__socialMedia i{
  font-size: 1.3em;
}

.footer__disclaimer {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  text-align: center;
  background-color: #0a244a;
  color: var(--color-white);
  padding: 25px;
}
.footer__disclaimer .title{
  font-size: 15px;
  display: inline-block;
  border-bottom: 1px solid;
  letter-spacing: 1px;
  color: #fff;
}
.footer__disclaimer .description{
  padding: 10px;
  border-bottom: 1px solid #adadad;
  margin: 10px 0;
}
/************** footer CSS end **************/
/************************ general CSS start ************************/